### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
PymoliData = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(PymoliData)

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [4]:
unique_names = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players" : [unique_names]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = round(purchase_data["Price"].mean(),2)
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purchasing_analysis_total = pd.DataFrame({"Number of Unique Items" : [unique_items],
                                          "Average Price" : [average_price],
                                          "Number of Purchases" : [number_purchases],
                                          "Total Revenue" : [total_revenue]})

# formatting found on https://pbpython.com/styling-pandas.html

format_price = {"Average Price" :"${:,.2f}", "Total Revenue" : "${:,.2f}"}


purchasing_analysis_total.style.format(format_price)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
only_males = purchase_data.loc[purchase_data["Gender"] == "Male"]
unique_males = len(only_males["SN"].unique())
percent_males = round((unique_males/unique_names)*100,2)

only_females = purchase_data.loc[purchase_data["Gender"] == "Female"]
unique_females = len(only_females["SN"].unique())
percent_females = round((unique_females/unique_names)*100,2)

only_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
unique_other = len(only_other["SN"].unique())
percent_other = round((unique_other/unique_names)*100,2)

gender_demographics = pd.DataFrame({"Gender" : ["Male", "Female", "Other / Non-Disclosed"],
                                    "Total Count": [unique_males, unique_females, unique_other],
                                    "Percentage of Players": [percent_males, percent_females, percent_other]})

gender_demographics_indexed = gender_demographics.set_index("Gender", inplace=True)

# formatting found on https://pbpython.com/styling-pandas.html

format_percent = {"Percentage of Players": "{}%"}

gender_demographics.style.format(format_percent)


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
male_purchase_count = len(only_males["Purchase ID"])
male_avg_price = round(only_males["Price"].mean(),2)
male_total_revenue = only_males["Price"].sum()
male_avg_ind = round(male_total_revenue/unique_males,2)

female_purchase_count = len(only_females["Purchase ID"])
female_avg_price = round(only_females["Price"].mean(),2)
female_total_revenue = only_females["Price"].sum()
female_avg_ind = round(female_total_revenue/unique_females,2)

other_purchase_count = len(only_other["Purchase ID"])
other_avg_price = round(only_other["Price"].mean(),2)
other_total_revenue = only_other["Price"].sum()
other_avg_ind = round(other_total_revenue/unique_other,2)

purchasing_analysis_gender = pd.DataFrame({"Gender": ["Female", "Male", "Other / Non-Disclosed"],
                                           "Purchase Count": [female_purchase_count, male_purchase_count, other_purchase_count],
                                           "Average Purchase Price" : [female_avg_price, male_avg_price, other_avg_price],
                                           "Total Purchase Value" : [female_total_revenue, male_total_revenue, other_total_revenue],
                                           "Avg Total Purchase by Person" : [female_avg_ind, male_avg_ind, other_avg_ind]})

purchasing_analysis_gender_indexed = purchasing_analysis_gender.set_index("Gender", inplace=True)

# formatting found on https://pbpython.com/styling-pandas.html

format_price = {"Average Purchase Price" :"${:,.2f}", "Total Purchase Value" : "${:,.2f}", "Avg Total Purchase by Person" : "${:,.2f}"}

purchasing_analysis_gender.style.format(format_price)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [8]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

group_labels = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# drop duplicates code found at https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html

data_drop = purchase_data.drop_duplicates(subset = "SN", keep ='first', inplace=False)

purchase_data["Age Group"] = pd.cut(data_drop["Age"], bins, labels=group_labels)

purchase_data_group = purchase_data.groupby(["Age Group"])
number_per_age = purchase_data_group["Age"].count()
percent_per_age = round((number_per_age/unique_names)*100,2)

merged_age_group = pd.merge(number_per_age, percent_per_age, on = "Age Group")
merged_age_group_renamed = merged_age_group.rename(columns={"Age_x": "Total Count",
                                                            "Age_y": "Percentage of Players"})

# formatting found on https://pbpython.com/styling-pandas.html

format_percent = {"Percentage of Players": "{}%"}

merged_age_group_renamed.style.format(format_percent)

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 100]

group_labels = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=group_labels)
purchase_data_group = purchase_data.groupby(["Age Group"])
purchases_per_age = purchase_data_group["Purchase ID"].count()
avg_price_per_age = round(purchase_data_group["Price"].mean(),2)
total_price_per_age = purchase_data_group["Price"].sum()
avg_price_per_person_per_age = round(total_price_per_age/number_per_age,2)

merged_age_group_prices = pd.merge(purchases_per_age, avg_price_per_age, on = "Age Group")
merged_age_group_prices_all = pd.merge(merged_age_group_prices, total_price_per_age, on = "Age Group")
merged_age_group_prices_all["Avg Total Purchase Per Person"] = avg_price_per_person_per_age

merged_age_group_prices_all_renamed = merged_age_group_prices_all.rename(columns={"Purchase ID" : "Purchase Count",
                                                                                  "Price_x": "Average Purchase Price",
                                                                                  "Price_y": "Total Purchase Value"})

# formatting found on https://pbpython.com/styling-pandas.html

format_price = {"Average Purchase Price" :"${:,.2f}", "Total Purchase Value" : "${:,.2f}", "Avg Total Purchase Per Person" : "${:,.2f}"}

merged_age_group_prices_all_renamed.style.format(format_price)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
purchase_data_spend = purchase_data.groupby("SN")["Purchase ID"].count()
purchase_data_spend_avg = round(purchase_data.groupby("SN")["Price"].mean(),2)
purchase_data_spend_total = purchase_data.groupby("SN")["Price"].sum()

merged_data_SN = pd.merge(purchase_data_spend, purchase_data_spend_avg, on = "SN")
merged_data_all = pd.merge(merged_data_SN, purchase_data_spend_total, on = "SN")

merged_data_all_renamed = merged_data_all.rename(columns={"Purchase ID" : "Purchase Count",
                                                          "Price_x": "Average Purchase Price",
                                                          "Price_y": "Total Purchase Value"})

merged_data_sorted = merged_data_all_renamed.sort_values("Total Purchase Value", ascending=False)

# formatting found on https://pbpython.com/styling-pandas.html

format_price = {"Average Purchase Price" :"${:,.2f}", "Total Purchase Value" : "${:,.2f}"}

merged_data_sorted.head().style.format(format_price)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
purchase_data_item = purchase_data.groupby(["Item ID", "Item Name"])["Purchase ID"].count()
purchase_data_item_total = purchase_data.groupby(["Item ID", "Item Name"])["Price"].sum()

merged_data_item = pd.merge(purchase_data_item, purchase_data_item_total, on = ["Item ID","Item Name"])

merged_data_item_renamed = merged_data_item.rename(columns={"Purchase ID" : "Purchase Count",
                                                            "Price": "Total Purchase Value"})

merged_data_item_renamed["Item Price"] = round(merged_data_item_renamed["Total Purchase Value"]/merged_data_item_renamed["Purchase Count"],2)

merged_data_item_ordered = merged_data_item_renamed[["Purchase Count", "Item Price", "Total Purchase Value"]]

merged_data_item_sorted = merged_data_item_ordered.sort_values("Purchase Count", ascending=False)

# formatting found on https://pbpython.com/styling-pandas.html

format_price = {"Item Price" :"${:,.2f}", "Total Purchase Value" : "${:,.2f}"}

merged_data_item_sorted.head().style.format(format_price)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
merged_data_item_sorted = merged_data_item_ordered.sort_values("Total Purchase Value", ascending=False)

# formatting found on https://pbpython.com/styling-pandas.html

format_price = {"Item Price" :"${:,.2f}", "Total Purchase Value" : "${:,.2f}"}

merged_data_item_sorted.head().style.format(format_price)