In [64]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
PymoliData = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(PymoliData)

In [65]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [66]:
unique_names = len(purchase_data["SN"].unique())
total_players = pd.DataFrame({"Total Players" : [unique_names]})
total_players

   Total Players
0            576

In [67]:
unique_items = len(purchase_data["Item ID"].unique())
average_price = round(purchase_data["Price"].mean(),2)
number_purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()
purchasing_analysis_total = pd.DataFrame({"Number of Unique Items" : [unique_items],
                                          "Average Price" : [average_price],
                                          "Number of Purchases" : [number_purchases],
                                          "Total Revenue" : [total_revenue]})

# formatting found on https://pbpython.com/styling-pandas.html

format_price = {"Average Price" :"${}", "Total Revenue" : "${}"}


purchasing_analysis_total.style.format(format_price)

In [83]:
only_males = purchase_data.loc[purchase_data["Gender"] == "Male"]
unique_males = len(only_males["SN"].unique())
percent_males = round((unique_males/unique_names)*100,2)

only_females = purchase_data.loc[purchase_data["Gender"] == "Female"]
unique_females = len(only_females["SN"].unique())
percent_females = round((unique_females/unique_names)*100,2)

only_other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
unique_other = len(only_other["SN"].unique())
percent_other = round((unique_other/unique_names)*100,2)

gender_demographics = pd.DataFrame({"Total Count": [unique_males, unique_females, unique_other],
                                    "Percentage of Players": [percent_males, percent_females, percent_other]})

# formatting found on https://pbpython.com/styling-pandas.html

format_percent = {"Percentage of Players": "{}%"}

gender_demographics.style.format(format_percent)

In [92]:
male_purchase_count = len(only_males["Purchase ID"])
male_avg_price = round(only_males["Price"].mean(),2)
male_total_revenue = only_males["Price"].sum()
male_avg_ind = round(male_total_revenue/unique_males,2)

male_purchase_count = len(only_males["Purchase ID"])
male_avg_price = round(only_males["Price"].mean(),2)
male_total_revenue = only_males["Price"].sum()
male_avg_ind = round(male_total_revenue/unique_males,2)

4.07